<template name="Header">
  <div class="Header">
    <div class="color" data-action="pickColor" style="background-color: {{color}}">
      <input class="colorPicker" type="color" value={{color}} />
    </div>
    <button data-action="toggleDrawingMode" class="{{#if isDrawingMode}}active{{/if}}">
      <i class="material-icons">mode_edit</i><span>Draw</span>
    </button>
    <button data-action="remove">
      <i class="material-icons">delete</i><span>Remove</span>
    </button>
    <button class="clear">
      <i class="material-icons">clear</i><span>Clear</span>
    </button>
    <div class="objectsCount">{{objectsCount}} object(s) on canvas</div>
    {{> loginButtons}}
  </div>
</template>